.set {
  padding: 41px 0 80px;
  /* bg */
  background: rgb(247, 247, 247);

  &__col {
    display: flex;
    align-items: center;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }



  &__title {
    color: rgb(41, 41, 41);
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    margin: 22px  0 38px;
  }

  &__btn {
    margin: 0 auto;
    border-radius: 100px;
    color: rgba(41, 41, 41, 0.83);
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    border: none;
    padding: 12px 13px;
    text-align: center;
    background: rgb(247, 235, 229);

  }

  &__row {
    display: flex;
    column-gap: 4px;
    margin-bottom: 41px;
  }

  &__btn2 {
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(78, 157, 211);
    border-radius: 3px;
    padding: 16px 95px;
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;

  }

  &__item {
    text-align: center;

  }

  &__path {
    text-align: center;
    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
}